@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --primary-color: #8a2be2;
  --secondary-color: #b8aeae;
}
body {
  width: 100vw;
  height: 100vh;
}
h1 {
  text-shadow: 0.5px 1px 1.3px var(--primary-color),
    -0.5px -1px 1.3px var(--primary-color);
  color: var(--secondary-color);
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #3a6186, #89253e);
}
.steps {
  height: 80vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.progress-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.progress {
  position: absolute;
  height: 4px;
  width: 0%;
  background: var(--primary-color);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}
.progress-container::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--secondary-color);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #999;
  font-size: large;
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary-color);
}
.circle.active {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
}
.button {
  width: 55px;
  height: 35px;
  background: var(--primary-color);
  margin: 15px;
  color: var(--secondary-color);
  outline: none !important;
}
